@import "~antd/dist/antd.css";

/* In loayout, sider menu item styles */

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu > .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu > .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: black !important;
}

.ant-layout-sider-children {
  background: var(--primary-color);
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline,
.ant-menu-sub.ant-menu-inline {
  background: var(--primary-color);
  color: white !important;
}

.ant-menu-title-content a {
  color: white !important;
}

/* .ant-menu > .ant-menu-item ,.ant-menu > .ant-menu-submenu{
  background:red;
} */

.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border-right: 3px solid #543125 !important;
}

.ant-menu-item-selected {
  /* background-color: #f4f5f8 !important; */
  background-color: #ada9a8 !important;
}

.pagination {
  list-style: none;
  display: flex;
  margin-bottom: 5rem;
  font-size: 1rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover{
  background-color: #543125;
  color: #fff !important;
}

.pagination .active {
  background-color: #543125;
  color: #fff !important;
}